<mat-sidenav-container class="test-layout">

  <mat-sidenav-content>

    <div class="content-wrapper">
      <div class="test-container" *ngIf="questions.length">
        <mat-card class="quiz-header mat-elevation-z4">
          <div class="quiz-header-row">
            <div>
              <h2>{{ quizTitle }}</h2>
              <p class="description">{{ description }}</p>
              <p>Answer the following questions:</p>
            </div>
            <div class="score-info">
              <p><strong>Total Marks:</strong> {{ totalMarks }}</p>
              <p><strong>Score to Pass:</strong> {{ scoreToPass }}</p>
            </div>
          </div>
        </mat-card>

        <form (ngSubmit)="submitQuiz()">
          <div *ngFor="let question of questions; let i = index">
            <mat-card class="question-card">
              <h3>Q{{ i + 1 }}: {{ question.questionText }}</h3>
              <mat-radio-group
                [name]="'question_' + question.id"
                (change)="selectAnswer(question.id, $event.value)">
                <mat-radio-button
                  *ngFor="let option of question.options"
                  [value]="option.label"
                  class="option-button">
                  {{ option.label }}. {{ option.value }}
                </mat-radio-button>
              </mat-radio-group>
            </mat-card>
          </div>

          <div class="submit-button">
            <button mat-raised-button color="accent" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal Template -->
<ng-template #resultDialog>
  <h2 mat-dialog-title class="text-center text-primary">Quiz Result</h2>
  <mat-dialog-content class="mat-typography">
    <p><strong>Title:</strong> {{ resultData?.quizTitle }}</p>
    <p><strong>Total Marks:</strong> {{ resultData?.totalMarks }}</p>
    <p><strong>Score Obtained:</strong> {{ resultData?.obtainedScore }}</p>
    <p><strong>Percentage:</strong> {{ resultData?.percentage }}%</p>
    <p>
      <strong>Status:</strong>
      <span [ngClass]="resultData?.passed ? 'text-success' : 'text-danger'">
        {{ resultData?.passed ? 'Passed ✅' : 'Failed ❌' }}
      </span>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="proceed()">Proceed to Dashboard</button>
  </mat-dialog-actions>
</ng-template>
